/.gradle
/*.pyc
*/bin
*/bin-test
**/build
*/.classpath
*/.gradle
*/.idea
*/.project
*/.settings
.idea
*/out
*.iml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/vcs.xml
